@font-face {
    font-family: 'Roboto Thin';
    src: url('../assets/fonts/Roboto-Thin.eot');
    src: url('../assets/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Roboto-Thin.woff') format('woff'),
    url('../assets/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Light';
    src: url('../assets/fonts/Roboto-Light.eot');
    src: url('../assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Roboto-Light.woff') format('woff'),
    url('../assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Regular';
    src: url('../assets/fonts/Roboto-Regular.eot (1)');
    src: url('../assets/fonts/Roboto-Regular (1).eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Roboto-Regular.woff (1)') format('woff'),
    url('../assets/fonts/Roboto-Regular.ttf (1)') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Medium';
    src: url('../assets/fonts/Roboto-Medium.eot (1)');
    src: url('../assets/fonts/Roboto-Medium (1).eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Roboto-Medium (1).woff') format('woff'),
    url('../assets/fonts/Roboto-Medium (1).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: 'Roboto Bold';
    src: url('../assets/fonts/Roboto-Bold (1).eot');
    src: url('../assets/fonts/Roboto-Bold (1).eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Roboto-Bold (1).woff') format('woff'),
    url('../assets/fonts/Roboto-Bold (1).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }



