// Font weight varib.

$rb-thin: 'Roboto Thin', sans-serif;
$rb-light: 'Roboto Light', sans-serif;
$rb-regular: 'Roboto Regular', sans-serif;
$rb-medium: 'Roboto Medium', sans-serif;
$rb-bold: 'Roboto Bold', sans-serif;

// Fonts size varib.

$big-title : 36px;
$medium-title: 24px;
$small-title: 18px;
$big-txt: 16px;
$medium-txt: 14px;
$small-txt: 12px;
$smaller-txt: 10px;
$small-smaller: 8px;


// Color varibs.

$white: #fff;
$black: #000;
$header-bg: #383B65;
$sidebar-bg: #A1A7B4;
$side-hover: #525C73;
$sidebar-menu-deafoult: #EFEFEF;


